{% extends "blog/base.html" %}

{% block title %}posts{% endblock title %}

{% block content %}
<article class="border-0 card shadow-sm">
    {% if post.image %}
        <img src="{{ post.image.url}}" class="img-fluid mb-3" alt="{{ post.title}}">
    {% endif %}
    <h2 class="fw-bold"> {{ post.title}} </h2>
    <p class="text-muted small">{{post.date_posted|date:"F d, Y"}}</p>
    <hr>
    <div class=" fs-5 lh-lg text-body"></div>
    <p class=""> {{ post.content|linebreaks }}</p>
    <p class="text-end">
        <small class="fst-italic text-muted">by {{post.author}}</small>
    </p>
    <a href="{% url 'blog:index' %}"class="btn btn-secondady mt-3">Back to Home</a>
</article>
{% endblock %}

